@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
  background-color: #ffffff;
}

header {
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  background-color: #000000;
  height: 25px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  align-items: center;
}
.topbar a {
  color: #ffffff;
}
.topbar a:hover {
  color: #bfbfbf;
}
.topbar .container {
  display: flex;
  justify-content: space-around;
  width: 140px;
}
.topbar .container a {
  text-transform: uppercase;
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  padding: 20px 0 20px 0;
}
.navbar .logo {
  margin: auto;
}
.navbar .nav-toggle {
  display: none;
}
.navbar .nav-toggle-label {
  position: absolute;
  top: 10px;
  left: 0;
  margin-left: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  user-select: none;
}
.navbar .nav-toggle-label span {
  font-size: 2rem;
}
.navbar .nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  animation: fadeIn linear 0.3s;
}
.navbar .nav ul {
  list-style: none;
}
.navbar .nav li {
  margin: 20px 30px 20px 0;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar .nav li a {
  text-decoration: none;
  color: #676767;
}
.navbar .nav li a:hover {
  color: #b3b3b3;
}
.navbar .shopping-bag {
  position: absolute;
  top: 10px;
  right: 0;
  margin-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.product {
  padding-top: 8rem;
}
.product .product-image,
.product .product-name,
.product .product-price {
  margin: 1rem;
  text-align: center;
}
.product .shirt {
  width: 200px;
}
.product .product-name {
  font-family: "Vollkorn", serif;
  font-size: 2rem;
  font-weight: 500;
  color: #676767;
}
.product .product-price {
  font-size: 1.5rem;
  color: #989898;
}
.product .product-description {
  margin: 1rem;
}
.product .product-description .item {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #989898;
}
.product .product-description .item img {
  margin-right: 1rem;
}
.product .product-description .item .complimentary {
  line-height: 60%;
}
.product .product-description .item .complimentary a {
  font-size: 0.8rem;
  color: #113050;
}
.product .product-description .item .complimentary a:hover {
  color: #1b4d7e;
}
.product .product-description button {
  width: 100%;
  border: 0;
  border-radius: 2px;
  color: #ffffff;
  background-color: #113050;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.8rem;
  margin-top: 2rem;
}
.product .product-description button:hover {
  background-color: #1b4d7e;
  cursor: pointer;
}
.product .product-description button:active {
  background-color: #333;
}

.nav-toggle:checked ~ .nav {
  display: block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 960px) {
  .topbar {
    display: block;
  }
  .topbar .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .topbar .container {
    position: absolute;
    top: 0.1rem;
    right: 30px;
  }

  .navbar .logo {
    margin-left: 50px;
  }
  .navbar .shopping-bag {
    margin-right: 50px;
  }

  #nav-toggle-label {
    display: none;
  }

  #nav {
    display: block;
    position: static;
    border: none;
    animation: none;
    margin: auto;
    width: 80%;
  }
  #nav li {
    display: inline-block;
  }

  .product {
    display: flex;
    justify-content: space-around;
  }
  .product .product-image {
    padding-top: 2rem;
  }
  .product .shirt {
    width: auto;
  }
  .product .product-name,
.product .product-price {
    text-align: left;
  }
  .product .product-description {
    margin-top: 2.5rem;
    justify-content: end;
  }
}

/*# sourceMappingURL=main.css.map */
